#example2 {
  padding-top: 0%;
  width: 800px;
  padding: 5px;  
  border: 4px solid red;
  position: static;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}

.ball {
  background: #02ada5;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 80px auto 0 auto;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



.page-hero {
  background: #ddd;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.page-hero h1 {
    animation:
        slideUp 0.75s .5s cubic-bezier(0.17,.88,.32,1.27) both,
        fadeIn .25s .5s ease-in both;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-shadow: 3px 3px 7px rgba(0,0,0,.61);
    top: 50%;
    width: 100%;
    font-size: 30px;
}

@keyframes slideUp {
    from {transform: translateY(200%);}
    to {transform:translateY(-50%);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}









.footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
 }

header{
    overflow: hidden;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
header a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    background-color: #333;
    text-decoration: none;
    font-size: 17px;
}
header a:hover {
    background-color: #ddd;
    background-color: #333;
    color: black;
}
header a.active {
    background-color: #2c36cc;
    color: white;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], input[type=password],select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
  resize: vertical;
}
.top-nav.anime {
  animation-duration: 3s;
  animation-name: slidein;

}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


input[type=submit] {
  background-color: #000000;
  color: rgb(235, 235, 235);
  padding: 12px 20px;
  border:black;
  border-radius: 30px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#f2f2f2;
}

.container {
  border-radius: 5px;
  background-color:rgba(41, 156, 250, 0.521);
  padding: 20px;
}
..section {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #000000;
  }
}

html,
body {
  height: 100%;
}